* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #f4f4f4;
    background-color: #333;
    padding: 20px;
}
.nav-container {
    margin-bottom: 40px;
}
h2 {
    margin-bottom: 20px;
}
.nav1 {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
}
.nav1 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav1 a,
.nav3 a {
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: inline;
    position: relative;
}
.nav1 a::after,
.nav3 a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #1a1a1a;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.nav1 a:hover::after,
.nav3 a:hover::after {
    transform: scaleX(1);
}
.nav1 .login-btn,
.nav3 .login-btn {
    background-color: #1a1a1a;
    color: #f4f4f4;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 800;
}

.nav2 {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
}
.nav2 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.nav2 a {
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    width: 100%;
    padding-left: 47px;
}
.nav2 a:hover {
    background-color: #555;
    border-radius: 3px;
}

.nav2 .login-btn {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 800;
    margin-top: 10px;
    width: 100%;

}
.nav2 .login-btn:hover {
    background-color: #ddd;
}

.nav3 {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
}
.nav3 ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav3 a {
    display: block;
}
.nav3 .dropdown-content {
    display: none;
}
.nav3 .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
}
