* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 20px;
    background-color: lightblue;
    padding: 20px;
}
.item {
    background-color: lightcoral;
    /* border: 1px solid #000; */
    padding: 20px;
    /* margin: 20px; */
}
.item1 {
    grid-column: 1 / 3;
}
.item3 {
    grid-row: 2 / 4;
}
.item9 {
    grid-column: 2 / 4;
}