* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1a1a1a;
}
.responsive-div {
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 72, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    max-width: 1200px;
    margin: auto;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    .responsive-div {
        background-color: rgb(123, 8, 8);
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .responsive-div {
        background-color: rgb(6, 80, 6);
    }
}